<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>kpiRozklad.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>kpiRozklad2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>kpiRozkladTodayWidget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>kpiRozkladWatch (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>kpiRozkladWatch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>kpiRozkladWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F75DAD32457915900B1E4C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F7631F724B251F90022C952</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FACFF7A23ED63D40022DF88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FDCFC04248D601F00568208</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FDCFC07248D601F00568208</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FDCFCC8248D8C2C00568208</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D313F491233AAB6C0076CFF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
